# Python
.venv*
__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
build/
!*/**/.gitkeep

# Jupyter
.ipynb_checkpoints/

# Data (trop volumineux pour git)
*.pkl
*.parquet
*.npz
*.npy
data/*
!data/.gitkeep

# Environnement
.env

# IDE
.vscode/
.idea/

# Docker volumes
fuseki_data/*
!fuseki_data/.gitkeep

# Results
results/*
!results/.gitkeep
